/* Move down content because we have a fixed navbar that is 3.5rem tall */
#main {
  padding-top: 6rem;
}

#board {
  font-size: 1em;
  padding-left: 1rem;
}

#message {
  padding-right: 4rem;
  color: navy;
}

.board-cell {
  font-weight: bold;
  text-align: center;
  /* XXX use bootstrap colors */
  border: 5px solid #124da1;
  border-collapse: collapse;
  /* XXX doesn't work in table? */
  border-radius: 5px;
  padding: 10px;
}

.board-content:hover, .board-content:focus {
  /* XXX use bootstrap colors */
  color: #bad4f7;
  background: #124da1;
}

.board-selected {
  /* XXX use bootstrap colors */
  background: yellow;
}

.invisible {
  opacity: 0;
}

.message-img {
  height: 2em;
  width: auto;
}

.score-cell {
  text-align: center;
}

.score-header {
  font-weight: bold;
  text-align: center;
}

@media (min-width: 992px) {
  #board {
    font-size: 2.2em;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
